
<div class="parallax-window" data-parallax="scroll" data-image-src="http://yoga.ooreka.fr/img/intro/intro-yoga.jpg"></div>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading" id="section-heading-info">Spoiled by choice? We'll help you choose!</h2>
                <hr class="light">
                <div class="yogaimage"><img src="http://www.wallpapersxl.com/wallpapers/1920x1440/yoga-nature/126983/yoga-nature-meditation-free-hd-126983.jpg" width="500">

                </div>
                <p class="text-faded" id="text-faded-desc">Melbourne's yoga scene is blooming - there are new studios joining the community every day. We understand it is hard to keep up and therefore we have done the hard work for you. Let it be different class types or teacher training, by joining us you will get a whole picture and tips from the insiders of Melbourne's yoga community. Don't forget to add your studio!</p>
                <a href="#" class="btn btn-default btn-xl">Start exploring</a>
            </div>
        </div>
    </div>
</section>
</div>
