

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading" id="section-heading-info">Spoiled by choice? We'll help you choose!</h2>
                <hr class="light">
                <p class="yogaimage"><img src="http://media2.popsugar-assets.com/files/2014/04/24/153/n/28443503/bc3ac4e0b648e66f_One-Hot-Yoga-06_Yoga-Poses_Yoga-Melbourne-765x560.xxxlarge/i/Best-Yoga-Studios-Melbourne.jpg" width="500"></p>
                <p class="text-faded" id="text-faded-desc">Melbourne's yoga scene is blooming - there are new studios joining the community every day. We understand it is hard to keep up and therefore we have done the hard work for you. Let it be different class types or teacher training, by joining us you will get a whole picture and tips from the insiders of Melbourne's yoga community. Don't forget to add your studio!</p>
                <a href="#" class="btn btn-default btn-xl">Start exploring</a>
            </div>
        </div>
    </div>
</section>
