



      <header id="whole-header">

          <div class="header-content">
            <p id="facebook">
              <a href=""><img id="faceicon" style="width:80px" src="http://www.clipartkid.com/images/589/facebook-icon-free-cliparts-that-you-can-download-to-you-computer-QpFTWu-clipart.png"></a>
            </p>
              <div class="header-content-inner">

                  <h1 style="padding:10px">Yoga Network</h1>
                  <% if logged_in? %>

                  <p id="welcome">Welcome <%= current_user.username %>   <% end %></p>

                  <p> We want to connect you with your favourite yoga studios in Melbourne</p>
                  <% if !logged_in? %><a href="/signup" id="button1" class="btn btn-primary btn-xl page-scroll">Join us</a><% end %>
              </div>
          </div>
      </header>


      <section class="bg-primary" id="about">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 text-center">
                      <h2 class="section-heading">Spoiled by choice? We'll help you choose!</h2>
                      <hr class="light">

                      <p class="text-faded" id="text-faded-desc">Melbourne's yoga scene is blooming - there are new studios joining the community every day. We understand it is hard to keep up and therefore we have done the hard work for you. Let it be different class types or teacher training, by joining us you will get a whole picture and tips from the insiders of Melbourne's yoga community. Don't forget to add your studio!</p>
                      <a href="/new" class="btn btn-default btn-xl">Add your studio</a>
                  </div>
              </div>
          </div>
      </section>

      <div class="parallax-window" data-parallax="scroll" data-image-src="/images/Sonja1.jpg"></div>



          <section id="services">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12 text-center">
                          <h2 class="section-heading">At Your Service</h2>

                          <hr class="primary">
                      </div>
                  </div>
              </div>
              <div class="container" id="aboutus">
                  <div class="row">
                      <div class="col-lg-3 col-md-6 text-center service-box-hover">
                          <div class="service-box">

                              <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                              <h3>Find the community</h3>
                              <p class="text-muted">Connect with your fellow yogis in Melbourne.</p>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 text-center service-box-hover">
                          <div class="service-box">
                              <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                              <h3>Share your stories</h3>
                              <p class="text-muted">Comment studios you visit or add your studio.</p>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 text-center service-box-hover">
                          <div class="service-box">
                              <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                              <h3>Save your favourites</h3>
                              <p class="text-muted">Keep up to date with your favourite studios.</p>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 text-center service-box-hover">
                          <div class="service-box">
                              <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                              <h3>Made with Love</h3>
                              <p class="text-muted">We love yoga too! That's why our passion is so strong.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
</div>
      <div class="parallax-window" data-parallax="scroll" data-image-src="/images/Sonja2.jpg"></div>

      <section id="contact">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 text-center">
                      <h2 class="section-heading">Let's get in touch!</h2>
                      <hr class="primary">
                      <p>Ready to start yoga with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                  </div>
                  <div class="col-lg-4 col-lg-offset-2 text-center">
                      <i class="fa fa-phone fa-3x wow bounceIn"></i>
                      <p>123-456-6789</p>
                  </div>
                  <div class="col-lg-4 text-center">
                      <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                      <p><a href="mailto:your-email@yoganetwork.com">feedback@yoganetwork.com</a></p>
                  </div>
              </div>
          </div>
      </section>
</div>
