<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Melbourne Yoga Network</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <script src="/javascripts/jquery.fittext.js"></script>
  <script src="/javascripts/cbpAnimatedHeader.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>

  <script src="/javascripts/jquery.js"></script>

  <script src="/javascripts/jquery.easing.min.js"></script>
  <script src="/javascripts/wow.min.js"></script>
  <script src="/javascripts/classie.js"></script>
  <script src="/javascripts/creative.js"></script>
  <script src="/javascripts/application.js"></script>

  <script src="/javascripts/parallax.js"></script>
  <script src="/javascripts/parallax.min.js"></script>

  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link rel='stylesheet' href='/stylesheets/creative.css'>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css'>
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
  <link rel='stylesheet' href='/stylesheets/animate.min.css'>
</head>
<body>

  <nav class="navbar navbar-default" id="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active navbar-fixed-top"><a href="/index">Home page </a></li>
        <li id="header-link"><a href="/about">About us</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort by <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="page-scroll" href="/show">Studios</a></li>

          </ul>
        </li>
      </ul>


      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li>
          <form action="/session" class="navbar-form navbar-left" method="post">
            <input type="hidden" value="delete" name="_method">
            <button class="btn btn-default">Logout</button>
          </form>

          </li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/favourites">Favourites</a></li>


        <% else %>
          <li><a href="/session/new">Log in</a></li>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact us! <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#contact">Contact us</a></li>
            <li><a href="/studios/new">Add your studio</a></li>
            <li><a href="#">Become an admin</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


  <%= yield %>
</body>
