<body id="loginbackground">


<div id="signup2">
  <form action="/studios" method="post">

    <p><label for="">Studio name</label>
    <input type="text" name="name" style="width: 100%"></p>

    <p><label for="">Studio image URL</label>
    <input type="text" name="image_url" style="width: 100%"></p>

    <p><label for="">Studio address</label>
    <input type="text" name="address" style="width: 100%"></p>

    <p><label for="">Studio description</label>
    <input type="text" name="body" style="width: 100%"></p>

    <p><label for="">Studio website</label>
    <input type="text" name="website_url" style="width: 100%"></p>

    <p id="signupbutton"><button type="submit" class="btn btn-default">Sign up your studio</button></p>

  </form>
</div>
