<body style="background-color: #E5D4C0">


<div id="profile" style="margin-top: 70px; margin-left: 20px">


<p class="headers">Your profile:</p>

<p><b>Username:</b> <%= current_user.username %></p>
<p><b>Email:</b> <%= current_user.email %></p>
<p><b>Homestudio:</b> <%= current_user.homestudio %></p>
<p><b>Favourite yoga:</b> <%= current_user.favourite_yoga %></p>
  </div>
