<body style="background-color: #E5D4C0">


  <div class="container">
  <div class="row">
    <div class="col-md-4">


<div id="profile" style="margin-top: 70px; margin-left: 20px">


<p class="headers">Your profile:</p>

<p><b>Username:</b> <%= current_user.username %></p>
<p><b>Email:</b> <%= current_user.email %></p>
<p><b>Homestudio:</b> <%= current_user.homestudio %></p>
<p><b>Favourite yoga:</b> <%= current_user.favourite_yoga %></p>
  </div>
</div>


<div class="col-md-8">

    <p style="margin-top: 70px">
    <img class="bottom" width="500px" src="http://static1.squarespace.com/static/53ca0941e4b09aa5f73e3191/t/53cdf23de4b0881d48bfb5e6/1406005855108/180424_1712905276808_4443874_n.jpg" style="border: 1px solid black">
  
  </div>

</div>
</div>
