


<body id="loginbackground2">


  <div id="signup">
    <form action="/signup" method="post">


      <p><label for="">Your username</label>
      <input type="text" name="username" style="width: 100%"></p>

      <p><label for="">Password</label>
      <input type="password" name="password" style="width: 100%"></p>

      <p><label for="">Email</label>
      <input type="text" name="email" style="width: 100%"></p>

      <p><label for="">Home studio</label>
      <input type="text" name="homestudio" style="width: 100%"></p>

      <p><label for="">Favourite yoga</label>
      <input type="text" name="favourite_yoga" style="width: 100%"></p>

      <p id="signupbutton"><button type="submit" class="btn btn-default" style="width: 100%">Create account</button></p>

    </form>
  </div>
