


<body id="loginbackground2">


  <div id="signup">
    <form action="/signup" method="post">

      <p><label for="">Your username</label>
      <input type="text" name="username"></p>

      <p><label for="">Password</label>
      <input type="password" name="password"></p>

      <p><label for="">Email</label>
      <input type="text" name="email"></p>

      <p><label for="">Home studio</label>
      <input type="text" name="homestudio"></p>

      <p><label for="">Favourite yoga</label>
      <input type="text" name="favourite_yoga"></p>

      <p id="signupbutton"><button type="submit" class="btn btn-default">Create account</button></p>

    </form>
  </div>
