<body style="background-color: #E5D4C0">


<div id="studiodetailinfo">
  <p class="headers"><%= @studios.name %> <button style="margin-left: 50px" class="btn btn-default">Add to favourites</button></p>
  <p><img width="500px" src="<%= @studios.image_url %>"/></p>
  <p style="font-weight: bold"><%= @studios.address %></p>
  <p style="width: 500px; text-align: justify"><%= @studios.body %></p>

</div>
