#whole-header {
  border-top: 1px solid black;
  background-image: url(../../images/Sonja4.jpg);
}

#middle {
  border-top: 1px solid black;
  height: 150px;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 0px;
}

#facebook {
  position: fixed;
  margin-left: 0px !important;
  margin-top: 20px !important;
}

#body {
  text-align: justify;
}

#yogastudioinfo {
  position: fixed;
}

#commentssection {
  max-height: 200px;
  margin-top: 30px;
}

#commentbox {
  border: 1px solid black;
  padding: 10px;
  background-color: white;
  opacity: 0.7;
  width: 100%;
}
.comment-box-text-align{
  margin-left: auto;
}

#studiodetailinfo {
  margin-top: 45px;
  vertical-align: top;
}

#loginbackground {
  background-image: url(../../images/Sonja5.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
}

#loginbackground2 {
background-image: url(../../images/Sonja5.jpg);
background-size: contain;
}

#studioimages {
  width: 430px;
  text-align: center;
  margin: 20px;
  border: 1px solid black;
}

#navbar {
  padding: 0px;
  margin: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#welcome {
  margin-bottom: 10px;
}

#weather {
  background-color: white;
}

#studio {
  background-color: white;
  padding: 20px;
  border: 1px solid black;
}

#studio2 {
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  width: 70%;
}

#services {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding-top: 90px;
  padding-bottom: 90px;
}

#studioname {
  font-weight: bold;
}

#yogaheader {
  font-size: 2em;
  padding: 10px;
  font-weight: bold;
}

#likes {
  margin-top: 60px;
}

.headers {
  font-size: 2em;
  padding: 10px;
  font-weight: bold;
}

#about {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fdfdfd;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: black;
}

#addyourstudio {
  margin-top: 70px;
  margin-left: 30px;
}

.container-fluid {
  background-color: #fdfdfd;
  border-bottom: 1px solid black;
}

.text-faded {
  color: black;
}

#text-faded-desc {
  color: black;
}

#login {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
}

#logintext {
  padding: 20px;
  font-weight: bold;
}

#like {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#signupshit {
  margin-top: 100px;
}

#signup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  padding: 20px;
  background-color: #F3E9DE;
  opacity: 0.8;
}

#signup2 {
  position: fixed;
  top: 50%;
  left: 30%;
  transform: translate(-70%, -50%);
  border: 1px solid black;
  padding: 20px;
  background-color: #F3E9DE;
  opacity: 0.8;
}

#signupbutton {
  text-align: center;
}


.header-content-inner {
  padding: 30px;
}

#section-heading-info {
  padding-top: 30px;
}

#button1 {
    border-color: #fff;
    color: #222;
    background-color: #fdfdfd;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

#button1:hover {
   background-color: silver;
 }

#contact {
    background-color: #fdfdfd;
    border-top: 1px solid black;
}

.parallax-window {
    min-height: 300px;
    background: transparent;
}

.service-box-hover:hover {
   background: #E5D4C0;
   border-radius: 10px;
   transition: 1s;
}

.starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('https://reviewthebrew.files.wordpress.com/2013/01/empty-rating-star.png');
  background-size : contain;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('http://www.printable-alphabets.com/wp-content/uploads/2012/12/print-signs-full-star-rating.png');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}
